<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
</head>
<body>
    <div>
        <p style="margin: 5px;">
            {{message}}<br>
            Cliquer <a href={{app_host}}>Ici</a> pour accéder au système.<hr>
            &copy; {% now "Y" %} <strong>&middot;</strong> <strong>SGP</strong> &middot; Tout les droits sont réservés
        </p>
    </div>
</body>
</html>