{% extends 'layouts/base.html' %}
{% block title %}Update password{% endblock title %}

{% block content %}
    <div class="wrapper">
        <h1 class="text-center mt-4 name">
            Mise à jour du mot de passe
        </h1>
        <form action="" method="post" enctype="multipart/form-data" class="p-3 mt-3">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger text-center" style="margin:12px">
                        <strong>{{error}}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help.text %}
                        <p class="help">{{ field.help.text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger alert alert-danger"><strong> {{ error }} </strong></p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-sm btn-block">Valider</button>
        </form>
    </div>
{% endblock content %}